---
import { getCollection } from "astro:content";

function formatCurrency(amount: number) {
	return new Intl.NumberFormat('en-US', {
		currency: 'usd',
		style: 'currency',
	}).format(amount);
}

const blogPosts = await getCollection("blog");

interface Props {
    count: number
}
const {count = Infinity} = Astro.props
---

<section></section>
